.spacer{
margin-top: 20px;
}
.table-hover > tbody > tr:hover >td,
.table-hover > tbody > tr:hover >th{
    background-color: #42BBCA;
    color : #ffffff;

}
.clickable{
    cursor: pointer;
}